/*初始化css*/
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, ubuntu, helvetica, "微软雅黑";
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    word-spacing: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}
img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
    display:block;
}
body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
input, textarea, select {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-appearance: none;
    font-size: 1em;
    line-height: 1.5em;
}
textarea {
    resize: none;
}
table {
    border-collapse: collapse;
}
input, select, textarea {
    outline: none;
    border: none;
    background: none;
}
a {
    text-decoration: none;
    -WebKit-touch-callout: none;
    outline: 0;
    cursor: pointer;
}
em, i {
    font-style: normal;
}
li, ol {
    list-style: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
.border-bottom{
    border-bottom:0.0133333rem solid #ddd;
}
.border-top{
    border-top:0.0133333rem solid #ddd;
}
.over-hidden{
    overflow:hidden;
}
body {
    background-color: #f5f5f5;
}

/*投资详情css*/
.header{
    height:1.174rem;
    width:10rem;
    background:#1b8ed7;
}
.back{
    padding:0.3rem 3.4rem  0 0.4rem;
    height:1.174rem;
}
.back a,.back img{
    width:0.33333rem;
    height:0.57333rem;
}
.header-text{
     text-align: center;
    font-size:0.45333rem;
    color:#fefefe;
    line-height:1.174rem;
}
.sectiond{
    height:6.6rem; 
    background:#fff;
    padding:0.3rem 0 0 0 ;
}

/*投资详情项目进度图样式*/
.circliful {
    position: relative;
    font-weight:900;
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    color:#ff6600;
    font-size:0.96rem;
}
.circle-info, .circle-info-half {
    font-size:14px;
    font-weight:normal;
    margin-top:10px
}
.c-chart[data-type=half] .circle-info-half {
    margin-top:7px
}
.circliful .fa {
    position: absolute;
    top: 25%;
    left:50%;
}
.circliful .fa:before{
    position:relative;
    left:-50%;
}
.c-chart.bottom-txt{
    display:table;
    margin:auto
}

.j-introduce{
    height:1.3rem;
}
.j-introduce li{
    width:3rem;
    float:left;
    height:0.7rem;
    text-align: center;
    color:#696969;
    font-size:0.373333rem;
    margin:0.3rem 0;
}
.j-introduce li:nth-child(2){
    width:4rem;
    border-left:1px #dddddd solid;
}
.j-introduce li:nth-child(3){
    border-left:1px #dddddd solid;
}
.sectiond-one{
    margin-top: 0.266666666rem;
    overflow:hidden;
    background:#fff;
}
.sectiond-one ul li{
    margin-left:0.533333333rem;
    height:1.306666rem;
    border-bottom:0.0133333rem solid #ddd;
    padding-right:0.533333333rem;
}
.sectiond-one ul li span{
    line-height: 1.306666rem;
    font-size:0.37333333rem;
}
.sectiond-one ul li:nth-child(2) img{
    height:0.346666rem;
    width:0.666666rem;
}
.sectiond-one ul li:nth-child(4) img{
     width:0.3466666rem;
      width:0.2rem;
}
